<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.titech.itpro.sdl.flashcard">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SdlFlashcard">
        <activity
            android:name="jp.ac.titech.itpro.sdl.flashcard.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.SdlFlashcard.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="jp.ac.titech.itpro.sdl.flashcard.CreateActivity" />
        <activity android:name="jp.ac.titech.itpro.sdl.flashcard.test.TestMainActivity" />
        <activity android:name="jp.ac.titech.itpro.sdl.flashcard.test.TestFrontActivity" />
        <activity android:name="jp.ac.titech.itpro.sdl.flashcard.test.TestBackActivity" />
        <activity android:name="jp.ac.titech.itpro.sdl.flashcard.test.TestBackChoiceActivity" />
        <activity android:name="jp.ac.titech.itpro.sdl.flashcard.test.with_friend.TestWithFriendHomeActivity" />
        <activity android:name="jp.ac.titech.itpro.sdl.flashcard.test.with_friend.TestWithFriendActivity" />
        <activity android:name="jp.ac.titech.itpro.sdl.flashcard.test.with_friend.TestWithFriendActivityReceiver" />
        <activity android:name="jp.ac.titech.itpro.sdl.flashcard.test.with_friend.TestWithFriendActivitySender" />
        <activity android:name="jp.ac.titech.itpro.sdl.flashcard.test.with_friend.connection.ScanActivity" />
    </application>

</manifest>